<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Atrinium{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!–Con esto garantizamos que se vea bien en dispositivos móviles–>
        {% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"> {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Encabezado o base</h1><br>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
        {% endblock %}
    </body>
</html>